body {
    min-height: 100vh;
    color: white;
    background: #3E3E3E;
    line-height: 1.6;
    font-family: 'Figtree', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 80rem;
    margin: auto;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Finder', sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 160%;
}

input {
    border-radius: 4px;
    line-height: 1.5;
    appearance: none;
    background-clip: padding-box;
    background-repeat: no-repeat;
    block-size: 30px;
    border: 1px solid #3E3E3E;
    box-shadow: var(--form-input-shadow);
    color: black;
    padding: 3px 7px 4px;
    white-space: nowrap;
    word-break: keep-all;
    outline: 0;
    font-size: 1.2rem;
}

.btn {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #C70202;
    border: 0;
    border-radius: .375rem;
    padding: .375rem 1rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}