<table>
    <tr>
        <td style="text-align: center; font-size: 12pt; color: #444"><a href="{{ siteLink }}" style="font-family: finder; font-size: 16pt; text-decoration: none; color: #000000">www.viking-cup.fr</a></td>
    </tr>

{#    add space#}
    <tr>
        <td style="line-height: 20pt"></td>
    </tr>

    <tr>
        <td style="text-align: center; width: 25%">
            <a href="https://www.ffsa.org" target="_blank"><img src="img/ffsa.png" alt="FFSA" /></a>
        </td>

        <td style="text-align: center; width: 25%">
            <a href="https://driftfrance.com" target="_blank"><img src="img/cfd.png" alt="CFD" /></a>
        </td>

        <td style="text-align: center; width: 25%">
            <a href="https://www.sportautonormandie.fr" target="_blank"><img src="img/lsan.png" alt="LSAN" /></a>
        </td>

        <td style="text-align: center; width: 25%">
            <a href="https://asapaysdedieppe.fr" target="_blank"><img src="img/asa.png" alt="ASA" /></a>
        </td>
    </tr>

</table>
