<div style="font-size: 16px; font-family: figtree"><span style="font-family: figtreebold">Message de l’organisation :</span><br>Merci d’imprimer ce billet ou de le présenter sur votre smartphone à l’entrée de l’évènement.</div>

<div style="font-size: 16px; font-family: figtreelight">Nous sommes ravis de vous compter parmi nos médias pour vivre un week-end riche en émotions. Votre soutien contribue à faire de cet évènement un moment unique et inoubliable.</div>

<div style="font-size: 16px; font-family: figtree"><span style="font-family: figtreebold">À très bientôt sur la piste !</span></div>

<div style="font-size: 16px;"><span style="font-family: figtreebold">Vous avez une question ?</span><br><span style="font-size: 14px; font-family: figtree">En cas de besoin, merci de nous contacter via : <a href="mailto:contact-media@viking-cup.fr" style="text-decoration: none; color: #000000;">contact-media@viking-cup.fr</a></span></div>